<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220270962103-9509618go0pbnb8fp8l4ilvp8to85gem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220270962103-9509618go0pbnb8fp8l4ilvp8to85gem</string>
	<key>API_KEY</key>
	<string>AIzaSyDzce2jKkAuVNEw0cauX2kI49BgXOlZp5s</string>
	<key>GCM_SENDER_ID</key>
	<string>220270962103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kerimcivelek.E-Shop-Market-Appliacation</string>
	<key>PROJECT_ID</key>
	<string>eshopmarket-773b5</string>
	<key>STORAGE_BUCKET</key>
	<string>eshopmarket-773b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220270962103:ios:8f89b85515cdd9efa9b432</string>
</dict>
</plist>